<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block" th:fragment="aside">
	<div class="logo">
		<a th:href="@{/inicio}"> <img th:src="@{/images/logo.png}"
			width="140px" alt="ISTB" />
		</a>
	</div>
	<div class="menu-sidebar__content js-scrollbar1">
		<nav class="navbar-sidebar">
			<ul class="list-unstyled navbar__list">
				<div sec:authorize="hasAuthority('Docente')">
					<li
						th:classappend="${#request.requestURI.startsWith('/inicio') ? 'active' : ''}">
						<a th:href="@{/inicio}" title="Justificaciones Pendientes"><i
							class="fas fa-tachometer-alt"></i><abbr
							title="Justificaciones Pendientes">Justificaciones P.</abbr></a>
					</li>
					<li
						th:classappend="${#request.requestURI.startsWith('/perfil') ? 'active' : ''}">
						<a th:href="@{/perfil}"> <i class="fas fa-user"></i>Mi Perfil
					</a>
					</li>
				</div>
				<div sec:authorize="hasAuthority('Secretaria')">
					<li
						th:classappend="${#request.requestURI.startsWith('/inicio') ? 'active' : ''}"><a
						th:href="@{/inicio}"> <i class="fas fa-users"></i>Profesores
					</a></li>
					<li
						th:classappend="${#request.requestURI.startsWith('/asistencias') ? 'active' : ''}">
						<a th:href="@{/asistencias}"> <i class="fas fa-list-alt"></i>Asistencias
					</a>
					</li>
					<li
						th:classappend="${#request.requestURI.startsWith('/inasistencias-justificadas') ? 'active' : ''}">
						<a th:href="@{/inasistencias-justificadas}"> <i class="fas fa-list-alt"></i>Justificar Inasistencias
					</a>
					</li>
					<li
						th:classappend="${#request.requestURI.startsWith('/licencias-permisos') ? 'active' : ''}">
						<a th:href="@{/licencias-permisos}"> <i class="fas fa-table"></i>Licencias y Permisos
					</a>
					</li>
					<li
						th:classappend="${#request.requestURI.startsWith('/periodos') ? 'active' : ''}">
						<a th:href="@{/periodos}"> <i class="fas fa-table"></i>Periodos
					</a>
					</li>
				</div>
			</ul>
		</nav>
	</div>
</aside>
<!-- END MENU SIDEBAR-->
