<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/app :: head"></head>
<body class="animsition">
	<div class="page-wrapper">
		<!-- Start header -->
		<header th:replace="layout/app :: header-mobile"></header>
		<!-- End header -->
	</div>

	<!-- PAGE CONTAINER-->
	<div class="page-container">
		<!-- HEADER DESKTOP-->

		<header th:replace="layout/app :: header-desktop"></header>

		<!-- HEADER DESKTOP-->
		<!-- MENU SIDEBAR-->
		<aside class="menu-sidebar d-none d-lg-block"
			th:replace="layout/app :: aside"></aside>
		<!-- END MENU SIDEBAR-->

		<!-- MAIN CONTENT-->

		<div class="main-content">
			<div style="position: relative; margin: 0 auto; padding: 0 30px">
				<div class="container-fluid">
					<div sec:authorize="hasAuthority('Secretaria')">
						<h3 class="title-5 m-b-35">Inasistencias</h3>
						<div class="row">
							<div class="col">
								<div class="table-responsive table-responsive-data2">
									<table id="inasistencias-justified-table"
										class="table table-data2">
										<thead>
											<tr>
												<th scope="col">Cédula</th>
												<th scope="col">Nombres</th>
												<th scope="col">Apellidos</th>
												<th scope="col">Correo</th>
												<th scope="col">Fecha</th>
												<th scope="col">Justificar</th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" th:replace="theme/lte/footer.html :: footer"></div>
			</div>
		</div>
	</div>
	<div th:replace="layout/app :: endPage"></div>
	<script src="/datatables/datatables.min.js"></script>
	<script src="/js/inasistencia/inasistencias-justified.js"></script>
</body>
</html>