<!-- Start Footer -->
<footer class="footer-box" th:fragment="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="white_fonts margin-top_30">
          <div class="full">
            <div class="center">
              <ul class="social_icon">
                <li>
                  <a target="_blank" href="https://www.facebook.com/istb.edu.ec"
                    ><i class="fa fa-facebook-f"></i
                  ></a>
                </li>
                <li>
                  <a target="_blank" href="https://twitter.com/istb_edu"
                    ><i class="fa fa-twitter"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 white_fonts">
        <h4 class="text-align">Contáctanos</h4>
      </div>

      <div class="margin-top_30 col-md-8 offset-md-2 white_fonts">
        <div class="row">
          <div class="col-md-4">
            <div class="full icon text_align_center">
              <img src="/images/social1.png" />
            </div>
            <div class="full white_fonts text_align_center">
              <p>Av Enrique Ponce Luque <br />Babahoyo</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="full icon text_align_center">
              <img src="/images/social2.png" />
            </div>
            <div class="full white_fonts text_align_center">
              <p>info@istb.edu.ec</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="full icon text_align_center">
              <img src="/images/social3.png" />
            </div>
            <div class="full white_fonts text_align_center">
              <p>
                +593 98 872 2143 <br />
                05273244
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->

<!--  Footer Bottom -->

<div class="footer_bottom" th:fragment="footer_bottom">
  <div class="container">
    <div class="row">
      <div class="col-12 center">
        <p class="crp">© 2020 Diana Santos . Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</div>
<!-- End Footer Bottom -->
