<!-- Start Footer -->
<footer class="footer-box" th:fragment="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="logo">
					<a th:href="@{../}"><img th:src="@{images/footer_logo.png}" alt="#" /></a>
				</div>
			</div>
			<div class="col-lg-12 white_fonts">
				<h4 class="text-align">Contact Us</h4>
			</div>
			<div class="margin-top_30 col-md-8 offset-md-2 white_fonts">
				<div class="row">
					<div class="col-md-4">
						<div class="full icon text_align_center">
							<img src="/images/social1.png">
						</div>
						<div class="full white_fonts text_align_center">
							<p>
								London 145 <br>United Kingdom
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="full icon text_align_center">
							<img src="/images/social2.png">
						</div>
						<div class="full white_fonts text_align_center">
							<p>
								consultation@gmail.com <br>consultation@gmail.com
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="full icon text_align_center">
							<img src="/images/social3.png">
						</div>
						<div class="full white_fonts text_align_center">
							<p>
								+7586656566 <br>+7586656566
							</p>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="row white_fonts margin-top_30">
			<div class="col-lg-12">
				<div class="full">
					<div class="center">
						<ul class="social_icon">
							<li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- End Footer -->

<!--  Footer Bottom -->

<div class="footer_bottom" th:fragment="footer_bottom">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<p class="crp">© 2019 RD resume . All Rights Reserved.</p>
				<ul class="bottom_menu">
					<li><a href="#">About Us</a></li>
					<li><a href="#">Find jobs</a></li>
					<li><a href="contact.html">Contact us</a></li>
					<li><a href="#">Terms of Service</a></li>
					<li><a href="#">Privacy</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- End Footer Bottom -->