<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head th:replace="layout/layout :: head"></head>

<body data-spy="scroll" data-target="#navbar-wd"
	data-offset="98">

	<!-- LOADER -->
	<div th:replace="layout/layout :: preLoader"></div>
	<!-- end loader -->
	<!-- END LOADER -->

	<!-- Start header -->
	<header th:replace="layout/layout :: header"> </header>
	<!-- End header -->

	<div class="content-body">
		<!-- section -->
		<div class="innerpage_banner">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>About us</h2>
					</div>
				</div>
			</div>
		</div>
		<!-- end section -->

		<div class="section layout_padding">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="full center">
							<div class="heading_main text_align_center">
								<h2>
									<span class="theme_color">What </span>we do
								</h2>
								<p class="large">Get your CV Resume in 4 easy steps</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- section -->
		<div class="section layout_padding theme_bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 text_align_center">
						<div class="full">
							<img class="img-responsive" th:src="@{images/resume_img.png}" alt="#" />
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12 white_fonts">
						<h3 class="small_heading">EVERYTHING YOU NEED IN ONE SOLUTION</h3>
						<p>HELP YOUR NEXT CAREER MOVE MORE SMOOTHER AND MORE EFFICIENT</p>
						<p>It is a long established fact that a reader will be
							distracted by the readable content of a page when looking at its
							layout. The point of using Lorem Ipsum is that it has a
							more-or-less normal distribution of letters, as opposed to using
							'Content here, content here', making it look like readable
							English. Many desktop publishing packages and web page editors
							now use Lorem Ipsum as their default model text</p>
						<a href="#" class="hvr-radial-out button-theme">Get Started ></a>
					</div>
				</div>
			</div>
		</div>
		<!-- end section -->
		<!-- section -->
		<div class="section layout_padding">
			<div class="container">
				<div class="row">

					<div class="col-lg-4 col-md-4 col-sm-12">
						<div class="full">
							<div class="center">
								<img th:src="@{images/icon1.png}" alt="#" />
							</div>
							<div class="center">
								<h4>Responsive CV Templates</h4>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-4 col-sm-12">
						<div class="full">
							<div class="center">
								<img th:src="@{images/icon2.png}" alt="#" />
							</div>
							<div class="center">
								<h4>Designed for Professionals</h4>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-4 col-sm-12">
						<div class="full">
							<div class="center">
								<img th:src="@{images/icon3.png}" alt="#" />
							</div>
							<div class="center">
								<h4>Faster. interview calls</h4>
							</div>
						</div>
					</div>

					<div class="col-lg-10 offset-lg-1 margin-top_30">
						<div class="full text_align_center">
							<p>Lorem Ipsum is simply dummy text of the printing and
								typesetting industry. Lorem Ipsum has been the scrambled it to
								make a type specimen book. It has survived not only fiv</p>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- end section -->
	</div>
	<div th:replace="layout/layout :: endPage"></div>
</body>

</html>