<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/app :: head"></head>

<body class="animsition">
	<div class="page-wrapper">
		<!-- Start header -->
		<header th:replace="layout/app :: header-mobile"></header>
		<!-- End header -->
	</div>

	<!-- PAGE CONTAINER-->
	<div class="page-container">
		<!-- HEADER DESKTOP-->

		<header th:replace="layout/app :: header-desktop"></header>

		<!-- HEADER DESKTOP-->
		<!-- MENU SIDEBAR-->
		<aside class="menu-sidebar d-none d-lg-block"
			th:replace="layout/app :: aside"></aside>
		<!-- END MENU SIDEBAR-->

		<!-- MAIN CONTENT-->
		<div class="main-content" style="padding-top: 96px;">
			<div style="position: relative; margin: 0 auto; padding: 0 30px">
				<div class="container-fluid">
					<div sec:authorize="hasAuthority('Secretaria')">
						<div class="row">
							<div class="col-md-12">
								<h3 class="title-5 m-b-35">listado de docentes</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6">
								<div class="table-data__tool">
									<div class="table-data__tool-right">
										<a th:href="@{/agregar-usuario}">
											<button
												class="au-btn au-btn-icon au-btn--green au-btn--small">
												<i class="zmdi zmdi-plus"></i>agregar
											</button>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<!-- DATA TABLE-->
							<div class="table-responsive table-responsive-data2">
								<table id="table-profesores" class="table table-data2 text-center">
									<thead>
										<tr>
											<th>nombre de usuario</th>
											<th>cédula</th>
											<th>apellidos</th>
											<th>nombres</th>
											<th>correo electrónico</th>
											<th>telefono</th>
											<th>editar</th>
											<th>eliminar</th>
										</tr>
									</thead>
								</table>
							</div>
							<!-- END DATA TABLE-->
						</div>
					</div>
					<div sec:authorize="hasAuthority('Docente')">
						<div class="alert alert-success" th:if="${success != null}"
							th:text="${success}"></div>
						<div class="row">
							<div class="col-md-12">
								<h3 class="title-5 m-b-35">Inasistencias no Justificadas</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12" id="absences"></div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h3 class="title-5 m-b-35">Inasistencias Justificadas</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12" id="absencesJustified"></div>
						</div>

					</div>
					<div class="row" th:replace="theme/lte/footer.html :: footer"></div>
				</div>
			</div>
			<!-- END MAIN CONTENT-->
		</div>
	</div>
	<!-- END PAGE CONTAINER-->

	<div th:replace="layout/app :: endPage"></div>
	<div sec:authorize="hasAuthority('Docente')">
		<script src="/js/sockjs.min.js"></script>
		<script src="/js/stomp.min.js"></script>
		<script src="/js/inasistencia/inasistencias.js" type="module"></script>
	</div>
	<div sec:authorize="hasAuthority('Secretaria')">
		<script src="/datatables/datatables.min.js"></script>
		<script src="/js/profesores/profesores.js"></script>
	</div>
</body>
</html>
<!-- end document-->
