<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/app :: head"></head>
<body class="animsition">
	<div class="page-wrapper">
		<!-- Start header -->
		<header th:replace="layout/app :: header-mobile"></header>
		<!-- End header -->
	</div>

	<!-- PAGE CONTAINER-->
	<div class="page-container">
		<!-- HEADER DESKTOP-->

		<header th:replace="layout/app :: header-desktop"></header>

		<!-- HEADER DESKTOP-->
		<!-- MENU SIDEBAR-->
		<aside class="menu-sidebar d-none d-lg-block"
			th:replace="layout/app :: aside"></aside>
		<!-- END MENU SIDEBAR-->

		<!-- MAIN CONTENT-->

		<div class="main-content">
			<div style="position: relative; margin: 0 auto; padding: 0 30px">
				<div class="container-fluid">
					<div sec:authorize="hasAuthority('Secretaria')">
						<h3 class="title-5 m-b-35">Listado de profesores con Licencias y Permisos</h3>
						<div class="row">
							<div class="col">
								<form th:action="@{/permisos/reporte}" method="POST" target="_blank" th:object="${permiso}">
									<div class="row">
										<div class="col-md-4">
											<label for="fechaInicio">Fecha Inicio</label>
											<input type="date" class="form-control" th:field="*{fechaInicio}" required>
										</div>
										<div class="col-md-4">
											<label for="fechaFinal">Fecha Final</label>
											<input type="date" class="form-control" th:field="*{fechaFinal}" required>
										</div>
										<div class="col-md-4">
						                    <div class="form-group mt-2">
						                        <button id="pdfGeneratorBtn" type="submit" class="btn btn-primary mt-4">Generar reporte</button>
						                    </div>
                						</div>
									</div>
								</form>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="table-responsive table-responsive-data2">
									<table id="profesor-permiso-table"
										class="table table-data2">
										<thead>
											<tr>
												<th scope="col">Cédula</th>
												<th scope="col">Nombres</th>
												<th scope="col">Apellidos</th>
												<th scope="col">Correo electrónico</th>
												<th scope="col">Telefono</th>
												<th scope="col">Ver más</th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" th:replace="theme/lte/footer.html :: footer"></div>
			</div>
		</div>
	</div>
	<div th:replace="layout/app :: endPage"></div>
	<script src="/datatables/datatables.min.js"></script>
	<script src="/js/profesores/profesores-inasistencias.js"></script>
	<script type="text/javascript">

		let pdfGeneratorBtn = document.getElementById("pdfGeneratorBtn");

		pdfGeneratorBtn.addEventListener("click", function(event) {

			event.preventDefault();
			let form = this.form;

			if( form.checkValidity() ) {

				let formData = new FormData();
				formData.append("fechaFinal", form.fechaFinal.value);
				formData.append("fechaInicio", form.fechaInicio.value);
				
				fetch(form.action, {
					"method": "post",
					"body": formData
				
				}).then( response => {
					
					return response.blob();

				}).then( blob => {

					let reportUrl = window.URL.createObjectURL(blob);
					let anchorTmp = document.createElement("a");

					anchorTmp.setAttribute("href", reportUrl);
					anchorTmp.setAttribute("download", "reporte-faltas.pdf");
					document.body.appendChild(anchorTmp);

					anchorTmp.click();
					anchorTmp.remove();

				});

			} else { 
				alert("Necesita ingresar un rango de fechas"); }

		});

	</script>
</body>
</html>
